.bg_image {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgb(0, 0, 0) 100%
    ),
    url(/assets/images/about_bg.png);
  width: 100%;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.position {
  position: relative;
  top: 30rem;
}
.position_1 {
  position: relative;
  top: 24.5rem;
  color: white;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}
.content {
  background-color: black;
  padding: 10px;
}
.content h6 {
  margin-top: 10px;
}
.footer_dash {
  background-color: black;
}

@media (max-width: 992px) {
  .position,
  .position_1 {
    top: initial;
  }
}

@media (max-width: 768px) {
  .bg_image {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgb(0, 0, 0) 100%
      ),
      url(/assets/images/about_bg.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .position{
    top: initial;
    top: 20px;
  }
  .position_1{
    top: 1rem;
    height: auto;
  }
}
